:root{
    --header-color: #F5F5F7E6;
    --primary-color:#C8960C;
    --primary-background-color:rgba(200, 150, 12, 8%);
    --secondary-text-color: #666666;
    --white-background-color:#FFFFFF;
    --black-color:#000000;
}
*{
    padding: 0;
    margin: 0;
}
 header{
    background-color: var(--header-color);
    padding: .8rem 0.2rem;
    border-bottom:1px solid #D1D1D6E6;
 }

 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
 }
 .logo-section{
    display: flex;
    align-items: center;
    gap: .7rem;
 }
 .logo{
      font-size: 1.2rem;
      font-weight: 800;
      background-color: var(--primary-color);
      padding: .5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 25%;
 }
 .logo-section span{
    font-size: 1.3rem;
    font-weight: 700;
 }
 .navbar-action ul{
    display: flex;
    gap: .1rem;
    align-items: center;
    margin-right: 1.5rem;
 }
 .navbar-action ul a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    color: var(--secondary-text-color);
 }

 #home{
    background-color: var(--primary-background-color);
    padding: .5rem 1rem;
    border-radius: 15%;
    color: var(--primary-color);
    margin-right: .3rem;
 }
 .navbar-action-design{
    padding: 0.5rem 1rem;
    border-radius: 15%;
 }
  .navbar-action-design:hover{
     background-color:rgba(209, 209, 214, 25%);
  }

  #dark{
    display: flex;
    align-items: center;
    gap: .3rem;
    border: 1px solid #D1D1D6E6;
    padding: .5rem 1rem;
    border-radius: 15%;
   cursor: pointer;
  }

#dark svg {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}

#dark:hover{
background-color: rgba(200, 150, 12, 10%);
color: var(--primary-color);
border: 1px solid var(--primary-color);
}
#hambergur-icon{
   display: flex;
   margin-left: .3rem;
   border: 1px solid #D1D1D6E6;
   border-radius: 15%;
   display: none;  
   padding: .3rem .5rem;
   cursor: pointer;
}
#hambergur-icon svg{
   width:1rem;
   height: 1rem;
   flex-shrink: 0;
}


/* main */
.overlay-menu{
   display: none;
}
/* for mobile device */

@media(max-width:480px){
   nav{
      padding: 0rem 0.6rem;
   }
   .logo-section{
      gap: .5rem;
   }
   .logo{
      padding: .3rem;
      font-size: .9rem;
     
   }
   .logo-section span{
      font-size: 1rem;
   }
   .navbar-action ul{
      margin-right: 0rem;
   }
   #home{
      display: none;
   }
   .navbar-action-design{
      display: none;
   }
   #dark{
      padding: .3rem 1rem;
   }
  #hambergur-icon{
   display: block;
   display: flex;
   justify-content: center;
   align-items: center;
   
  }

  /* overlay menue */ 
  /* for now off the display the slider */
  .overlay-menu{
   display: block;
   
   background-color: var(--white-background-color);
   box-shadow: 0px 4px 3px rgba(0,0,0,0.1);
   padding: 1rem .5rem 0.2rem .5rem;
  }
  .overlay-menu ul{
   display: flex;
   flex-direction: column;
   gap: .5rem;
   padding: .3rem .8rem;
   
  }
  .overlay-menu ul a{
   text-decoration: none;
   font-size: 1.2rem;
   font-weight: 400;
   padding: 1rem 0rem 1rem 1rem;
   color: var(--black-color);
   background-color: var(--primary-background-color);
   border-radius: 10px;
   color: var(--primary-color);
  }
   
}