:root{
   --easy-problem-background-color:#d1fae5;
    --easy-problem-text-color:#065f46;
    --medium-problem--background-color:#fef3c7;
    --medium-problem-text-color:#d97706;
    --hard-problem-background-color:#fee2e2;
    --hard-problem-text-color:#dc2626;
}
.space-grotesk{
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

svg{
   width: 1rem;
   height: 1rem;
   flex-shrink: 0;
}
a{
   text-decoration: none;
}

body {
    background-color: #f8f9fa; 
}
/* main */
.overlay-menu{
   display: none;
}


/* hero section */

.hero-section{
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   padding-bottom: 1rem;
   border-bottom:1px solid var(--bottom-border);
}
 .hero-container{
   width: 80%;
   display: flex;
   justify-content: center;
   font-family: var(--main-font);
}

.hero-container ul {
   text-align: center;
   list-style-position: inside;
}

.hero-container ul li{
   display: inline-flex;
   justify-content: center;
   gap: .7rem;
   font-size: 1rem;
   color: var(--primary-color);
   padding: .8rem 1.9rem;
   border-radius: 15px;
   background-color: var(--primary-background-color);
   border: 1px solid #C8960C;
}

/* hero contain */
.hero-contain{
   font-size: 1.6rem;
   width: 60%;
   margin-top: 5rem;
   padding-top: 5rem;
}
.shadow{
   height: 350px;
   width: 500px;
   border-radius: 100%;
   position: absolute;
   left: 34%;
   top: 30%;
   background-color: var(--primary-background-color);
   pointer-events: none;
   filter: blur(80px);
}
.hero-main{
   margin-top: 1.5rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 1.9rem;
}
.hero-details{
   display: flex;
   flex-direction: column;
   gap: .8rem;
}
.hero-main .hero-details h1{
   font-size: 3.5rem;
    font-weight: 800;
    text-align: center;
}
.hero-main span{
   color: var(--primary-color);
}
.hero-main .hero-details p{
   font-size: 1.3rem;
   width: 80%;
   margin: auto;
   text-align: center;
   line-height: 1.8;
   color: var(--secondary-text-color);
   
}
.btn-group{
   display: flex;
   justify-content: center;
   gap: 1rem;
}
.btn{
   padding: 1rem 2.9rem;
   font-size: .9rem;
   border-radius: 10px;
   color:var(--black-color);
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}
.primary-btn{
   background-color: var(--primary-color);
   border:1px solid var(--primary-color);
   font-weight:  550;
   display: flex;
   align-items: center;
   gap: .3rem;
}
.primary-btn span{
   display: inline-flex;
}
.primary-btn span svg,.primary-btn a{
   color: black;
}
.secondary-btn{
   font-weight: 550;
   border:1px solid var(--bottom-border);
   background-color: white;
   transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.secondary-btn:hover{
   border: 1px solid var(--primary-color);
   color: var(--primary-color);
}

/* hero features */

.hero-feature{
   display: flex;
   width: 50%;
   margin: 1.5rem auto;
   justify-content: space-around;
   
}

.problem,.language ,.stat-badge{
   display: flex;
   flex-direction: column;
   align-items: center;
   color: var(--secondary-text-color);
   font-size: .9rem;
   font-weight: 800;
}

.stat-count ,.stat-number ,.stat-language{
   color: var(--primary-color);
   font-size: 1.5rem;
   font-weight: 800;
}

/* problem Section */

.problem-section{
   width: 70%;
   margin: 4rem auto 0rem auto;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   margin-bottom: 5rem;
   gap: 1.8rem;
}

.card-problem {
    background-color: #ffffff;
    border:1px solid var(--bottom-border);
    border-radius:10px ;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.problem-name{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.card-problem  .btn{
   padding: .5rem 1.2rem;
   border-radius: 8px;
   font-size: .8rem;
   font-weight: 700;
}

.problem-details{
   color:var(--secondary-text-color);
}

.easy{
   background-color: var( --easy-problem-background-color);/* খুব হালকা সবুজ ব্যাকগ্রাউন্ড */
   color: var(--easy-problem-text-color);
   border: 1px solid var(--easy-problem-text-color);
    
}

.medium{
   background-color: var( --medium-problem--background-color);
   color: var( --medium-problem-text-color);
   border: 1px solid var(--medium-problem-text-color);
   
}

.hard{
   background-color: var(--hard-problem-background-color);
   color: var(--hard-problem-text-color);
   border: 1px solid var(--hard-problem-text-color);

}
/* for mobile device */

@media(max-width:480px){
  
  /* overlay menue */ 
  /* for now off the display the slider */
  .overlay-menu{
   display: block;
   display: none;
   background-color: var(--white-background-color);
   box-shadow: 0px 4px 3px rgba(0,0,0,0.1);
   padding: 1rem .5rem 0.2rem .5rem;
  }
  .overlay-menu ul{
   display: flex;
   flex-direction: column;
   gap: .5rem;
   padding: .3rem .8rem;
   
  }
  .overlay-menu ul li{
   text-decoration: none;
   font-size: 1.2rem;
   font-weight: 400;
   padding: 1rem 0rem 1rem 1rem;
   list-style-type: none;
   background-color: var(--primary-background-color);
   border-radius: 10px;
   color: var(--primary-color); /* when i use the active class */
  }
  .overlay-menu ul li a{
   color: var(--black-color);
  }

  /* hero section  */
  .hero-section{
   height: auto; 
   margin-bottom: 0rem;
}
  .hero-container{
   margin-top: 0;
   width: 90%;
  }
  .hero-container ul li{
   font-size: .8rem;
  }
   .hero-contain{
      width: 100%;
      margin-top: 2rem;
     
   }
   .hero-main .hero-details h1{
      font-size: 2.2rem;
   }
   .shadow{
      height: 200px;
      width: 300px;
      background-color: var(--primary-background-color);
      border-radius: 100%;
      position: absolute;
      top: 35%;
      left: 15%;
      filter: blur(25px);
   }
   .hero-main .hero-details p{
      width: 90%;
      font-size: 1.1rem;
      
   }
   .btn-group{
      flex-direction: column;
   }
   .btn{
      padding: 1rem 1.5rem;
      margin: auto;
      font-weight: 700;
   }
.primary-btn{

   width: 60%;
}
   .secondary-btn{
      width: 40%;
      margin-top: .5rem;
   }

   .hero-feature{
      width: 85%;
      margin-top: 1rem auto;
   }

   .problem,.language ,.stat-badge{
      font-size: .7rem;
   }

   /* problem card */
   .problem-section{
   width: 90%;
   grid-template-columns: repeat(1,auto);
   
}
.problem-name{
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}

.card-problem  .btn{
   padding: .5rem 1.2rem;
   border-radius: 8px;
   font-size: .8rem;
   margin: 0;
}


}