:root{
   --main-font: 'Space Grotesk', sans-serif;
    --header-color: #F5F5F7E6;
    --primary-color:#C8960C;
    --primary-background-color:rgba(200, 150, 12, 0.08);
    --secondary-text-color: #666666;
    --white-background-color:#FFFFFF;
    --black-color:#000000;
    --bottom-border:#D1D1D6E6;
}


.space-grotesk{
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

svg{
   width: 1rem;
   height: 1rem;
   flex-shrink: 0;
}
a{
   text-decoration: none;
}

 header{
    background-color: var(--header-color);
    padding: .8rem 0.2rem;
    border-bottom:1px solid var(--bottom-border);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
 }

 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
 }
 .logo-section{
    display: flex;
    align-items: center;
    gap: .7rem;
 }
 .logo{
      font-size: 1.2rem;
      font-weight: 800;
      background-color: var(--primary-color);
      padding: .5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 25%;
 }
 .logo-section span{
    font-size: 1.3rem;
    font-weight: 700;
 }
 .navbar-action ul{
    display: flex;
    gap: .1rem;
    align-items: center;
    margin-right: 1.5rem;
 }
 .navbar-action li{
   list-style-type: none;
 }
 .navbar-action ul li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    color: var(--secondary-text-color);
 }

 #home{
    background-color: var(--primary-background-color);
    padding: .5rem 1rem;
    border-radius: 15%;
    color: var(--primary-color);
    margin-right: .3rem;
 }
 .navbar-action-design{
    padding: 0.5rem 1rem;
    border-radius: 15%;
 }
  .navbar-action-design:hover{
     background-color:rgba(209, 209, 214, 25%);
  }

  #dark{
    display: flex;
    align-items: center;
    gap: .3rem;
    border: 1px solid #D1D1D6E6;
    padding: .5rem 1rem;
    border-radius: 15%;
   cursor: pointer;
  }

#dark:hover{
background-color: rgba(200, 150, 12, 10%);
color: var(--primary-color);
border: 1px solid var(--primary-color);
}
#hambergur-icon{
   display: flex;
   margin-left: .3rem;
   border: 1px solid #D1D1D6E6;
   border-radius: 15%;
   display: none;  
   padding: .3rem .5rem;
   cursor: pointer;
}


/* main */
.overlay-menu{
   display: none;
}


/* hero section */

.hero-section{
   width: 100%;
   height: 97vh;
   display: flex;
   justify-content: center;
   border-bottom:1px solid var(--bottom-border);
}
 .hero-container{
   width: 80%;
   display: flex;
   justify-content: center;
   font-family: var(--main-font);
}

.hero-container ul {
   text-align: center;
   list-style-position: inside;
}

.hero-container ul li{
   display: inline-flex;
   justify-content: center;
   gap: .7rem;
   font-size: 1rem;
   color: var(--primary-color);
   padding: .8rem 1.9rem;
   border-radius: 15px;
   background-color: var(--primary-background-color);
   border: 1px solid #C8960C;
}

/* hero contain */
.hero-contain{
   font-size: 1.6rem;
   width: 60%;
   margin-top: 5rem;
   padding-top: 5rem;
}
.shadow{
   height: 350px;
   width: 500px;
   border-radius: 100%;
   position: absolute;
   left: 34%;
   top: 30%;
   background-color: var(--primary-background-color);
   pointer-events: none;
   filter: blur(80px);
}
.hero-main{
   margin-top: 1.5rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 1.9rem;
}
.hero-details{
   display: flex;
   flex-direction: column;
   gap: .8rem;
}
.hero-main .hero-details h1{
   font-size: 3.5rem;
    font-weight: 800;
    text-align: center;
}
.hero-main span{
   color: var(--primary-color);
}
.hero-main .hero-details p{
   font-size: 1.3rem;
   width: 80%;
   margin: auto;
   text-align: center;
   line-height: 1.8;
   color: var(--secondary-text-color);
   
}
.btn-group{
   display: flex;
   justify-content: center;
   gap: 1rem;
}
.btn{
   padding: 1rem 2.9rem;
   font-size: .9rem;
   border-radius: 10px;
   color:var(--black-color);
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}
.primary-btn{
   background-color: var(--primary-color);
   border:1px solid var(--primary-color);
   font-weight:  550;
   display: flex;
   align-items: center;
   gap: .3rem;
}
.primary-btn span{
   display: inline-flex;
}
.primary-btn span svg{
   color: black;
}
.secondary-btn{
   font-weight: 550;
   border:1px solid var(--bottom-border);
   background-color: white;
   transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.secondary-btn:hover{
   border: 1px solid var(--primary-color);
   color: var(--primary-color);
}

/* hero features */

.hero-feature{
   display: flex;
   width: 50%;
   margin: 1.5rem auto;
   justify-content: space-around;
   
}

.problem,.language ,.stat-badge{
   display: flex;
   flex-direction: column;
   align-items: center;
   color: var(--secondary-text-color);
   font-size: .9rem;
   font-weight: 800;
}

.stat-count ,.stat-number ,.stat-language{
   color: var(--primary-color);
   font-size: 1.5rem;
   font-weight: 800;
}




/* for mobile device */

@media(max-width:480px){
   nav{
      padding: 0rem 0.6rem;
   }
   .logo-section{
      gap: .5rem;
   }
   .logo{
      padding: .3rem;
      font-size: .9rem;
     
   }
   .logo-section span{
      font-size: 1rem;
   }
   .navbar-action ul{
      margin-right: 0rem;
   }
   #home{
      display: none;
   }
   .navbar-action-design{
      display: none;
   }
   #dark{
      padding: .3rem 1rem;
   }
  #hambergur-icon{
   display: block;
   display: flex;
   justify-content: center;
   align-items: center;
   
  }

  /* overlay menue */ 
  /* for now off the display the slider */
  .overlay-menu{
   display: block;
   display: none;
   background-color: var(--white-background-color);
   box-shadow: 0px 4px 3px rgba(0,0,0,0.1);
   padding: 1rem .5rem 0.2rem .5rem;
  }
  .overlay-menu ul{
   display: flex;
   flex-direction: column;
   gap: .5rem;
   padding: .3rem .8rem;
   
  }
  .overlay-menu ul li{
   text-decoration: none;
   font-size: 1.2rem;
   font-weight: 400;
   padding: 1rem 0rem 1rem 1rem;
   list-style-type: none;
   background-color: var(--primary-background-color);
   border-radius: 10px;
   color: var(--primary-color); /* when i use the active class */
  }
  .overlay-menu ul li a{
   color: var(--black-color);
  }

  /* hero section  */
  .hero-section{
   height: 85vh; 
}
  .hero-container{
   margin-top: 0;
   width: 90%;
  }
  .hero-container ul li{
   font-size: .8rem;
  }
   .hero-contain{
      width: 100%;
      margin-top: 2rem;
     
   }
   .hero-main .hero-details h1{
      font-size: 2.2rem;
   }
   .shadow{
      height: 200px;
      width: 300px;
      background-color: var(--primary-background-color);
      border-radius: 100%;
      position: absolute;
      top: 35%;
      left: 15%;
      filter: blur(25px);
   }
   .hero-main .hero-details p{
      width: 90%;
      font-size: 1.1rem;
      
   }
   .btn-group{
      flex-direction: column;
   }
   .btn{
      padding: 1rem 1.5rem;
      margin: auto;
      font-weight: 700;
   }
.primary-btn{

   width: 60%;
}
   .secondary-btn{
      width: 40%;
      margin-top: .5rem;
   }

   .hero-feature{
      width: 70%;
      margin-top: 1rem;
   }

   .problem,.language ,.stat-badge{
      font-size: .7rem;
   }
}