:root {
  --easy-problem-background-color: #d1fae5;
  --easy-problem-text-color: #065f46;
  --medium-problem--background-color: #fef3c7;
  --medium-problem-text-color: #d97706;
  --hard-problem-background-color: #fee2e2;
  --hard-problem-text-color: #dc2626;
}
.card {
  background-color: #ffffff;
  border: 1px solid var(--bottom-border);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}
.card .btn,
.list-card .btn {
  padding: 0.3rem 0.7rem;
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: 700;
}
.easy {
  background-color: var(--easy-problem-background-color);
  color: var(--easy-problem-text-color);
  border: 0.5px solid var(--easy-problem-text-color);
}
.medium {
  background-color: var(--medium-problem--background-color);
  color: var(--medium-problem-text-color);
  border: 1px solid var(--medium-problem-text-color);
}

.hard {
  background-color: var(--hard-problem-background-color);
  color: var(--hard-problem-text-color);
  border: 1px solid var(--hard-problem-text-color);
}

.container {
  width: 80%;
  /* border: 1px solid red; */
  margin: 2.8rem auto 0rem auto;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.problem-name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.problem-name {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
#problem-number,
#list-problem-number {
  background-color: var(--primary-color);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 850;
}
#problem-name,
#list-problem-name {
  font-weight: 800;
}
.problem-details {
  color: var(--secondary-text-color);
  margin-top: 0.9rem;
  font-size: 0.9rem;
}
.btn-group {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  user-select: none;
}

.btn-visual,#list-visual {
  padding: 0.6rem;
  margin: auto;
  font-weight: 700;
  background-color: var(--primary-color);
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.btn-leetcode,#list-leetcode {
  padding: 0.6rem;
  margin: auto;
  border: 1px solid var(--bottom-border);
  font-weight: 700;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
.btn-leetcode,#list-leetcode:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.list-card {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid var(--bottom-border);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  justify-content: space-between;
}
.list-card,
.list-problem-name,
.list-problem-details,
.list-button {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
#problem-details {
  color: var(--secondary-text-color);
  font-size: 1rem;
}

#list-visual{
  padding: 0.6rem 2.3rem;
  border: 1px solid var(--primary-color);
}

#list-leetcode{
  padding: 0.6rem 2.3rem;
  background-color: white;
}
.list-active-taggle {
  display: none;
}
@media (max-width: 480px) {
  .container {
    width: 90%;
    /* border: 1px solid red; */
    margin: 2rem auto 0rem auto;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .problem-name {
    gap: 0.5rem;
    font-weight: 550;
  }

  .btn-group {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
  }
}
